<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Add leg of the journey</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
    </div>
    <div class="modal-body">
        <div class="card-block">

            <!--  <app-map-centered (coordinates)="coordinates" (addCoordinates)='onNotify($event)'></app-map-centered>
 -->
            <app-map-centered [coordinates]="coordinates" (addCoordinates)='onNotify($event)'></app-map-centered>

            <fieldset class="form-group">
                <label>Name</label>
                <input class="form-control" [(ngModel)]="stop.name" name="stop-name" required>
            </fieldset>

            <fieldset class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Description..." [(ngModel)]="stop.description" name="stop-desc"></textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="photo">File input</label>
                <!-- <input type="file" (change)="onChange($event)" [multiple]="multiple" style="display: none;" /> -->
                <!-- <input type="file" class="form-control-file" id="photo" (change)="onChange($event)"> -->

                <input id="photo" type="file" class="form-control-file" (change)="changeListener($event)" accept=".jpg, .jpeg, .png" multiple/>
                <br />

                <div class="row">
                    <div class="col-md-2" *ngFor="let tmpImages of base64Images">
                        <img [src]="tmpImages" height="50" width="50" alt="Image preview..." />
                        <!--  <img [src]="domSanitizer.bypassSecurityTrustUrl(tmpImages)"   height="50" width="50" alt="Image preview..."/> -->
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Add click')">Add</button>
        <button type="button" class="btn btn-secondary" (click)="d('Cancel click')">Cancel</button>
    </div>
</ng-template>
