<div [@routerTransition]>
    <hr />
    <div class="row">
        <div class="col-lg">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> HOME
                </div>
                <!-- /.card-header -->
                <div class="card-block table-responsive">
                    <ul class="list-group">
                        <li *ngFor="let trip of trips" class="list-group-item">
                            <div class="card-block table-responsive">
                                <h3> {{trip.name}} </h3>
                                <li *ngFor="let stop of trip.stops" class="list-group-item">
                                    <p> <i class="fa fa-map-marker" aria-hidden="true"></i>  {{stop.name}} </p>
                                </li>
                                <a [routerLink]="['/trip-detail', trip.id]">Show Trip</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div>
</div>