<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Nome viaggio</label>
                    <input class="form-control">
                    <p class="help-block">Inserisci il nome del viaggio.</p>
                </fieldset>

                <fieldset class="form-group">
                    <label>Descrizione</label>
                    <textarea class="form-control" rows="3" placeholder="Descrizione..."></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>

                <div class="form-group">
                    <label>Checkboxes</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 3
                        </label>
                    </div>
                </div>


                <button type="button" class="btn btn-secondary">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>

        </div>
        
    </div>
    <!-- /.row -->
</div>
