<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Trip name</label>
                    <input class="form-control" [(ngModel)]="trip.name" name="name">
                </fieldset>

                <fieldset class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" placeholder="Description..." [(ngModel)]="trip.description" name="desc"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>

                <app-modal-add-stop [stop] = "stop"></app-modal-add-stop>
                
                <div class="card mb-3">
                    <div class="card-header">
                        Legs of the journey
                    </div>
                    <div class="card-block table-responsive">
                        <ul class="list-group">
                            <li *ngFor="let stop of trip.stops" class="list-group-item">
                                {{stop.name}}
                            </li>
                        </ul>
                    </div>
                </div>


                <button type="button" class="btn btn-secondary" (click)="postTrip()">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>

        </div>

    </div>
    <!-- /.row -->
</div>